:root {
	background-color: #D9CCC1;
	font-family: system-ui;
	font-variant-numeric: tabular-nums;
}

*,
:after,
:before {
	box-sizing: border-box;
}

svg {
	display: block;
	font-size: 1.5rem;
	font-weight: 900;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background: #BF6415;
}

.frame {
	border: 6px solid #024059;
	border-radius: 16px;
	background: #023E73;
	max-height: 100vh;
}

#game {
	border-radius: 10px;
	user-select: none;
}

.toast {
	cursor: pointer;
}

.toast__wings {
	animation: wings-flapping linear infinite .4s;
	transform-origin: center 85%;
	pointer-events: none;
}

.toast__eyes {
	animation: blink linear infinite 2s;
	transform-origin: 15px;
}

@keyframes wings-flapping {
	0%,
	100% {
		scale: 1 1;
	}
	50% {
		scale: 1 .8;
	}
}

@keyframes blink {
	0%,90% {
		scale: 1 1;
	}
	100% {
		scale: 1 0;
	}
}